*{
    padding: 0;
    margin: 0;
}
/* cabeçario */
header{
    display: flex;
    width: 100%;

}
header > nav{
    display: flex;
    width: 100%;
}
header > nav > ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#logotipo{
    height: 10vh;
}
#olimpc{
    height: 10vh;
    margin-right: 4vh;
}

/* parte historia */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#historiaImg{
    display: flex;
    margin-top: 1vh;
    width: 100%;
    justify-content: space-around;
    
}
#historiaImg > div{
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#historiaImg > div> img
{
    height: 80vh;
    width: 55vh;
}
#historiaImg > div > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#historiaImg > div > div > img{
    height: 39vh;
    width: 60vh;
}
#historiaText{
    display: flex;
    margin-top: 10vh;
    width: 80vw;
    padding: 2vh;
    gap: 2vh;
    align-items: center;
    flex-direction: column;
}

    /* Ajuste carrossel */



.carousel-inner img{
    height: 50vh;
    width: 50vh;
}

#carrosel1 >  div{
    display: flex   ;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    flex-direction: column;
    padding: 10vh;
    align-items: center;

}
#carrosel1>  div > div >img{
    height: 1vh;
    width: 1vh;
}
#carrosel2 >  div{
    display: flex   ;
    justify-content: center;

    align-items: center;
    padding: 10vh;
}

#carrosel3 >  div{
    display: flex   ;
    justify-content: center;

    padding: 10vh;
    align-items: center;
}

#carrosel3 > div >div{
    display: flex;
    
}






#carrosel2 > div >div{
    display: flex;

}

.Ajuda{
    width: 100%;
}

    /* Principais Campeonatos */

.CampeonatoDiv{

    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.ImagemCampeonato{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.ImagemCampeonato > div{
    padding: 1vh;
}

.ImagemCampeonato > div > img{
    height: 40vh;
    padding: 0 1vh ;
    width: 40vw;
}

.CampeonatoText{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.CampeonatoText > div{
    width: 50%;
    padding: 4vh;
}

    /* Regulamentação */

.RegulamentacaoDiv{
    width: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}
.RegulamentacaoDiv > div{
    width: 100%;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.RegulamentacaoDiv > div> p{
    width: 70vh;
    font-size: 2.5vh;
}
.RegulamentacaoDiv > div > img{
    height: 80vh;
    width: 60vh;
    padding: 0 2vh 0 10vh;
}
.equip div{
}
.equip div img{
    height: 50vh;
    width: 50vh;
}
.newsletter{display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 100px 50px;
    background-color: antiquewhite;
}
.newsletter h3{font-size: 2rem; 
    margin-bottom: 35px; 
    color: black; 
    text-align: center;
}
.newsletter p{max-width: 800px; 
    margin-bottom: 35px; 
    color: black; 
    text-align: center;
}
.newsletter hr{width: 200px; 
    height: 2px; 
    background-color: black; 
    margin-bottom: 70px; 
    border: none;
}

.newsletter form{display: flex; align-items: center; justify-content: center; flex-wrap: wrap; width: 80%; max-width: 800px;}
.newsletter input{padding: 15px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 15px;
    flex: 1;
}
.newsletter button{padding: 15px;
    background-color: white; 
    text-transform: uppercase; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
}
.newsletter button a{
    color: var(--color10);
}
@media(max-width: 700px){
    .newsletter input{flex-basis: 100%; margin-bottom: 15px;}
}
footer {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px 0px;
    align-items: center;
}

footer ul {
    display: flex;
    margin-bottom: 25px;
    list-style: none; 
    padding: 0; 
}

footer ul li {
    margin-right: 10px;
}

footer ul li:last-child {
    margin-right: 0px;
}

footer ul li a {
    color: black;
    font-size: 2rem;
}

footer p {
    color: green;
    text-align: center;
}