*{
    padding: 0;
    margin: 0;
}
/* cabeçario */
header{
    display: flex;
    width: 100%;

}
header > nav{
    display: flex;
    width: 100%;
}
header > nav > ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#logotipo{
    height: 10vh;
}
#olimpc{
    height: 10vh;
    margin-right: 4vh;
}

/* parte historia */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#historiaImg{
    display: flex;
    margin-top: 1vh;
    width: 100%;
    justify-content: space-around;
    
}
#historiaImg > div{
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#historiaImg > div> img
{
    height: 80vh;
    width: 55vh;
}
#historiaImg > div > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#historiaImg > div > div > img{
    height: 39vh;
    width: 60vh;
}
#historiaText{
    display: flex;
    margin-top: 10vh;
    width: 80vw;
    padding: 2vh;
    gap: 2vh;
    align-items: center;
    flex-direction: column;
}

    /* Ajuste carrossel */


#carouselExampleIndicators img{
    height: 30vh;
    width: 30vh;
}

#carrosel1,#carrosel2,#carrosel3{
    width: 100%;
    
}

#carrosel1 >  div{
    display: flex   ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10vh;
}
#carrosel2 >  div{
    display: flex   ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10vh;
}

#carrosel3 >  div{
    display: flex   ;
    justify-content: center;
    flex-direction: column;
    padding: 10vh;
    align-items: center;
}

#carrosel3 > div >div{
    display: flex;
    
}

#carrosel1 > div >div{
    display: flex;
}

#carrosel2 > div >div{
    display: flex;
}

.Ajuda{
    background-color: aqua;
    width: 100%;
}

    /* Principais Campeonatos */

.CampeonatoDiv{

    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.ImagemCampeonato{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.ImagemCampeonato > div{
    padding: 1vh;
}

.ImagemCampeonato > div > img{
    height: 40vh;
    padding: 0 1vh ;
    width: 40vw;
}

.CampeonatoText{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.CampeonatoText > div{
    width: 50%;
    padding: 4vh;
}

    /* Regulamentação */

.RegulamentacaoDiv{
    width: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}
.RegulamentacaoDiv > div{
    width: 100%;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.RegulamentacaoDiv > div> p{
    width: 130vh;
}
.RegulamentacaoDiv > div > img{
    height: 80vh;
    width: 60vh;
    padding: 0 2vh 0 10vh;
}

footer{
    display:  flex;
    flex-direction:  column;
    background-color: white;
    padding: 50px 0px;
    align-items: center;
}

footer ul{
    display: flex;
    margin-bottom: 25px;
}
footer ul li{margin-right: 10px;
}
footer ul :local-link:last-child{
    margin-right: 0px;
}
footer ul li a{
    color: black;
    font-size: 2rem;
}
footer p{
    color: green;
    text-align: center;
}